<div class="container">
    <div class="header">
        <div class="form-control">


            <header>
                <div class="container">
                    <h5>welcome : {{ loggedUser |uppercase }}</h5>
                </div>
                <div class="container" style=" padding:7px"><h3>Active Members List</h3></div>
                
                <nav class="nav" style="display:-webkit-inline-flex; margin-left: 70%; padding: 6px;">
                    <ul class="nav">
                        <li class="nav-item" style="margin-right: 20px;">
                            <!-- <a class="nav-link" href="#" routerLink="/user">User</a> -->
                            <button class="btn btn-sm btn-warning" routerLink="/admin">Go Back</button>
                        </li>

                        
                        
                        <li class="nav-item" style="margin-right: 20px;">
                            <!-- <a class="nav-link" href="#" (click)="logOut()">LogOut</a> -->
                            <button class="btn btn-sm btn-danger" (click)="logOut()">LogOut</button>
                        </li>

                    </ul>
                </nav>
            </header>


    <div class="container">
        
        <table class="table table-bordered table-striped " style="background-color:rgb(198, 233, 205) ;">
            <thead>
                <tr>
    
                    
                    <th>Member Name</th>
                    <th>Mobile</th>
                    <th>Address</th>                    
                    <th>Password</th>
                    <th>Role</th>                   
                    <th>Action</th>
    
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let mwf of libraryService.members">
                    
                    <td>{{mwf.MemberName}}</td>
                    <td>{{mwf.Mobile}}</td>
                    <td>{{mwf.Address}}</td>
                    <td>{{mwf.Password}}</td>
                    <td>{{mwf.RoleName}}</td>
    
                    <td>
                    <!-- button -->
                    <button class="btn btn-sm btn-info" (click)="updateUser(usr.UserId)">Edit</button>
                        <!-- &nbsp;
                        <button class="btn btn-sm btn-danger" (click)="deleteUser(usr.UserId)">Delete</button> -->
                    </td> 
                </tr>
            </tbody>
        </table>
        <!-- <footer>
             pagination 
             <pagination-controls (pageChange)="page =($event)"></pagination-controls>
        </footer>  -->
    </div>
</div>