<header>
    <div class="container">
        <h5>welcome : {{ loggedUser |uppercase }}</h5>
    </div>
    <div>
        <nav class="nav" style="display:inline; margin-left: 50%; padding: 6px;">
            <ul class="nav">
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/user">User</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/book">Add Books</button>
                </li>

                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/attendance">Attendance</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/view">Add Genres</button>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/attendance">Attendance</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/view-member">View Active Members </button>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/report">Par rolll</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/reports">Reports</button>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" (click)="logOut()">LogOut</a> -->
                    <button class="btn btn-sm btn-danger" (click)="logOut()">LogOut</button>
                </li>

            </ul>
        </nav>
    </div>
</header>





<!-- [] square bracket is for property binding
 () parenthesis is for event binding
 ([]) event and property is for banana box  --([ngModel]) -->
<!-- <a [routerLink]="" class="btn  btn-outline-success text-dark" style="float: right; margin-top: 10px; margin-right: 0px; margin-bottom: 10px;
    background-color:rgb(198, 233, 205) ;" onclick="alert('Bhoom!  There you are');">View</a>
</div> -->
<h2>Books Available..</h2>
<table class="table table-bordered table-striped " style="background-color:rgb(198, 233, 205) ;">
    <thead>
        <tr>

            <th>BookId</th>
            <th>Book Name</th>            
            <th>Author Name</th>
            <th>Genre Name</th>
            <th>Publication Name</th>
            <th>Price</th>

            <!-- <th>Action</th> -->

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lb of libraryService.lists |filter: filter  | paginate: {itemsPerPage :5, currentPage: page}">
            <td>{{lb.BookId}}</td>
            <td>{{lb.BookName}}</td>
            <td>{{lb.AuthorName}}</td>
            <td>{{lb.GenreName}}</td>
            <td>{{lb.PublicationName}}</td>
            <td>{{lb.Price}}</td>


            <td>
                <!-- button -->
                <button class="btn btn-sm " style="background-color:rgb(83, 172, 245)"
                    (click)="updateBook(lb.BookId)">Edit</button>
                &nbsp;
                <button class="btn btn-sm " style="background-color:rgb(252, 84, 17)"
                    (click)="deleteBook(lb.BookId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<footer>
    <!-- pagination -->
    <pagination-controls (pageChange)="page =($event)"></pagination-controls>
</footer>